 <% provide(:title, "Top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AttendanceApp</title>  
  </head>
    <div class="row">
      <div class="col-md-7">   
        <div class="jumbotron">
          <h1 id="top-main-title">TaskApp</h1>
          <p>
           TaskAppは簡易ToDo管理ツールです。
          </p>
        
          <p>↓↓初めてのご利用↓↓</p>
        
          <center>
            <% if current_user %>
              <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success disabled" %>
            <% else %>
              <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
            <% end %>
          </center>
        </div>
      </div>
      
      <div class="col-md-4">
        <h2>ログイン</h2>
          <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
      
            <%= f.label :メールアドレス, class: "label-login" %>
              <% if current_user %>
                <%= f.email_field :email, readonly: true, class: 'form-control' %>
              <% else %>  
                <%= f.email_field :email, class: 'form-control' %>
              <% end %>
      
            <%= f.label :パスワード, class: "label-login" %>
              <% if current_user %>
                <%= f.password_field :password, readonly: true, class: 'form-control' %>
              <% else %>
                <%= f.password_field :password, class: 'form-control' %>
              <% end %>
            
            <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
              <%= f.check_box :remember_me, id: "remember-me" %>
              <span>ログイン情報を記憶する</span>
            <% end %>
            
            <% if current_user %>
              <%= f.submit "ログイン中",disabled: true, class: "btn btn-primary btn-block btn-login" %>
            <% else %>
              <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
            <% end %>
          <% end %>
      </div>
    </div>  
</html>