<!--<h1>Task#index</h1>-->
<!--<p>Find me in app/views/task/index.html.erb</p>-->
<% provide(:title, @user.name) %>
<div class= "tasks-index">
  <div class="container">
    <h1><%= current_user.name %>のタスク一覧</h1>
    <div class= "row">
      <div class= "col-md-10 col-md-offset-1">
      <%= link_to "タスクの新規作成", new_user_task_path, class: "btn btn-primary pull-right" %>

      <table class= "table table-hover" id="table-tasks">
        <thead>
          <tr>
            <th>名称</th>
            <th>作成日</th>
          </tr>
        </thead>

          <% @tasks.each do |task| %>
            <div class="container"> 
              <tr>
                <td><%= link_to task.name,user_task_path(@user,task.id) %></td>
                <td><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <td>
                  
                   <%= link_to "編集", edit_user_task_path(@user,task.id),  class: "btn btn-success" %>
                   <%= link_to "削除", user_task_path(@user,task.id), method: :delete,
                     data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
                </td>
              </tr>
            </div>
          <% end %>
        
      </table>
      
      </div>
    </div>
    
  </div>
</div>
