<% provide(:title, 'New Tasks') %>
<div class="tasks-new">
  <div class=　"container">
    <h1>タスク新規作成</h1> 
    <%= form_tag user_tasks_path do %>
      <div class= "row">
        <div class= "col-md-8 col-md-offset-2">
          <%=form_with(model: @tasks, url:user_tasks_path(current_user), local: true) do |f| %>
            <%= render 'shared/error_messages', object: @tasks %>
            
            <%=f.label :名称, class: "label-#{yield(:class_text)}" %>
            <%=f.text_field :name, class: "form-control" %>
            
            <%=f.label :詳細, class: "label-#{yield(:class_text)}" %>
            <%=f.text_area :description, class: "form-control", size: "15x5" %>
            
            <%=f.submit "新規登録", class: "btn btn-lg  btn-primary btn-form" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

   