<!--<div class="main tasks-show">-->

<div class= "row">
  <div class= "col-md-8 col-md-offset-2">
    <table  class="table table-task" id="table-task">  
      <tbody>
        <h1>タスクの詳細</h1>
          <tr>
            <th>名称</th>
            <td><%= @task.name %></td>
          </tr>
          <tr>
            <th>詳細</th>
            <td><%= Rinku.auto_link(@task.description, :all, 'target="_blank"').html_safe %></td>
          </tr>
          <tr>
            <th>作成日</th>
            <td><%= @task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
          <tr>  
            <th>更新日</th>
            <td><%= @task.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
      </tbody>
    </table>
    <div>
      <%= link_to "編集", edit_user_task_path(@user.id),  class: "btn btn-success" %>
      <%= link_to "削除", user_task_path(@user.id), method: :delete,
       data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
<!--</div>-->